:root {
    --fonte: 'Roboto', sans-serif;
}

body {
    background: radial-gradient(pink, #E91E63, #673AB7);
    color: white;
    font-family: var(--fonte);
    height: 100vh;
    margin-top: 4em;
    text-align: center;
}

.titulo-pagina {
    font-size: 40px;
}

.lista {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 10rem 1rem 10rem;
    padding: 1.5rem 0;
}

.button-add, #button-load {
    background-color: #00b529;
    height: 8vh;
    width: 50%;
}

.button-add:hover {
    background-color: #05d837;
}

.button-add:active {
    background-color: #07fd40;
}

#button-load {
    background-color: #607d8bd1;
}

#button-load:hover {
    background-color: #7497a9d1;
}

#button-load:active {
    background-color: #7da4b8d1;
}

.button-add, .button-remove, #button-load {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: var(--fonte);
    font-size: 20px;
    transition: 0.25s;
}

.lista-div {
    background-color: white;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow:8px 8px 5px #7e7e7ebd;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    margin: 0 2rem;
    width: -webkit-fill-available;
}

.lista-check, .lista-check-new {
    cursor: pointer;
    width: 18px;
}

.lista-check-new {
    height: 8vh;
    position: absolute;
}

.lista-produto {
    margin: 0 10px;
    width: 50%;
}

.lista-quantidade {
    width: 30%;
}

.lista-quantidade, .lista-produto {
    align-items: center;
    background-color: #ffe5e58f;
    border: none;
    border-radius: 5px;
    color: darkred;
    display: flex;
    font-family: var(--fonte);
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

#quantidade:focus, #produto:focus {
    background-color: #ffbebe8f;
    border: 3px solid red;
}

.button-remove {
    background-color: red;
}

.button-remove:hover {
    background-color: rgb(205, 28, 28);
}

.button-remove:active {
    background-color: rgb(155, 18, 18);
}